@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Livvic", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input {
  background: inherit;
  display: inline-block;
  font-family: inherit;
  border: none;
  margin: 0;
  padding: 0;
}
input::-webkit-input-placeholder {
  margin: 0;
}
input::-moz-placeholder {
  margin: 0;
}
input:-ms-input-placeholder {
  margin: 0;
}
input::-ms-input-placeholder {
  margin: 0;
}
input::placeholder {
  margin: 0;
}

.container {
  max-width: 1440px;
  padding-left: 165px;
  padding-right: 165px;
  margin: 0 auto;
}

.site_header {
  background: #014e56;
}

.site_header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 73px;
  padding-bottom: 129px;
}

.site_header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_header__navbar_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 80px;
}

.site_header__navbar_item + .site_header__navbar_item {
  margin-left: 40px;
}

.site_header__navbar_link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.site_header__navbar_link:hover {
  text-decoration: underline;
}

.site_header__button {
  padding: 9px 33px 11px 32px;
  border-radius: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.site_header__button:hover {
  background-color: #fff;
  color: #002529;
}

.site_header__button_mobile {
  display: none;
  cursor: pointer;
  border: none;
  background: #014e56;
}

.site_header__mobile_button__item {
  padding: 2px 10px;
  background: white;
  margin-bottom: 4px;
  display: block;
  border-radius: 1px;
}

@media only screen and (max-width: 980px) {
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }
  .site_header__button_mobile {
    display: inline-block;
  }
  .site_header__navbar_list {
    display: none;
  }
  .site_header__button {
    display: none;
  }
}
.hero_section {
  background: #014e56;
  background-image: url(../../img/Group8.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.hero_section__container {
  background-image: url(../../img/Group7.svg);
  background-repeat: no-repeat;
  background-position: 85% 100%;
  padding-bottom: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero_section__title {
  width: 600px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
}

.hero_section__title_text {
  color: #f67e7e;
}

.hero_section__subtitle_box {
  max-width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero_section__line {
  background: #79c8c7;
  width: 50px;
  height: 4px;
  display: block;
}

.hero_section__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

@media only screen and (max-width: 1250px) {
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }
  .hero_section {
    background-image: none;
  }
  .hero_section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    background-position: 50% 100%;
  }
  .hero_section__title {
    width: 340px;
    text-align: center;
    font-size: 64px;
    line-height: 56px;
    margin-bottom: 24px;
  }
  .hero_section__line {
    display: none;
  }
  .hero_section__subtitle {
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }
}
@media only screen and (max-width: 570px) {
  .hero_section__title {
    font-size: 40px;
    line-height: 40px;
    width: 245px;
  }
  .hero_section__subtitle {
    font-size: 15px;
    line-height: 28px;
  }
}
.service_section {
  background: #012f34;
  background-image: url(../../img/Group9.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.service_section__container {
  padding-top: 140px;
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service_section__line {
  width: 50px;
  height: 4px;
  display: block;
  background: #f67e7e;
  margin-bottom: 54px;
}

.service_section__title {
  max-width: 445px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
}

.service_section__right_box {
  max-width: 540px;
}

.service_section__item--start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}
.service_section__item--start::before {
  content: "";
  background-image: url(../../img/Group10.svg);
  width: 72px;
  height: 72px;
  display: inline-block;
  margin-right: 23px;
}

.service_section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.service_section__item::before {
  content: "";
  background-image: url(../../img/Group11.svg);
  width: 72px;
  height: 72px;
  display: inline-block;
  margin-right: 23px;
}

.service_section__item--end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service_section__item--end::before {
  content: "";
  background-image: url(../../img/Group12.svg);
  width: 72px;
  height: 72px;
  display: inline-block;
  margin-right: 23px;
}

.service_section__type {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
}

.service_section__subtitle {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.8;
  max-width: 440px;
}

@media only screen and (max-width: 1100px) {
  .service_section {
    background-position: 100% 0;
  }
  .service_section__container {
    display: block;
    padding-left: 98px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .service_section__line {
    margin-bottom: 32px;
  }
  .service_section__title {
    font-size: 32px;
    line-height: 32px;
  }
  .service_section__left_box {
    margin-bottom: 64px;
  }
  .service_section__right_box {
    max-width: 573px;
  }
  .service_section__subtitle {
    max-width: 475px;
  }
}
@media only screen and (max-width: 650px) {
  .service_section__container {
    padding: 64px 24px;
  }
  .service_section__title {
    max-width: 240px;
  }
  .service_section__right_box {
    width: 100%;
  }
  .service_section__item_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
  }
  .service_section__item_main::before {
    margin: 0;
  }
  .service_section__type {
    width: 100%;
    text-align: center;
  }
  .service_section__subtitle {
    text-align: center;
  }
}
.card_section {
  background: #004047;
  background-image: url(../../img/Group13.svg), url(../../img/Group14.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
}

.card_section__container {
  padding-top: 140px;
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.card_section__title {
  max-width: 932px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 56px;
}

.card_section__subtext {
  color: #79c8c7;
}

.card_section__content_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_section__content {
  max-width: 350px;
}

.card_section__subtitle {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 24px;
  color: #ffffff;
  background-image: url(../../img/Group15.svg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding-top: 36px;
}

.card_section__name {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79c8c7;
}

.card_section__job {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.card_section__job::after {
  content: "";
  background-image: url(../../img/Oval.png);
  background-repeat: no-repeat;
  display: block;
  width: 62px;
  height: 62px;
  margin-top: 32px;
}

.card_section__avatar1::after {
  content: "";
  background-image: url(../../img/Oval1.png);
  background-repeat: no-repeat;
  display: block;
  width: 62px;
  height: 62px;
  margin-top: 32px;
}

.card_section__avatar2::after {
  content: "";
  background-image: url(../../img/Oval2.png);
  background-repeat: no-repeat;
  display: block;
  width: 62px;
  height: 62px;
  margin-top: 32px;
}

@media only screen and (max-width: 1100px) {
  .card_section__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .card_section__title {
    max-width: 480px;
    font-size: 32px;
    line-height: 32px;
  }
  .card_section__content_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    max-width: 100%;
  }
  .card_section__content {
    max-width: 100%;
  }
  .card_section__subtitle {
    max-width: 100%;
  }
  .card_section__job {
    margin-bottom: 48px;
  }
}
.start_section {
  background: #f67e7e;
  background-image: url(../../img/Group16.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.start_section__container {
  padding-top: 76px;
  padding-bottom: 76px;
  padding-left: 263px;
  padding-right: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start_section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
}

.start_section__button {
  padding: 9px 33px 11px 32px;
  border-radius: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid #012f34;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012f34;
}
.start_section__button:hover {
  background: #012f34;
  color: #fff;
}

@media only screen and (max-width: 1260px) {
  .start_section__container {
    padding-right: 98px;
    padding-left: 97px;
  }
  .start_section {
    background-position: 0 90px;
  }
}
@media only screen and (max-width: 870px) {
  .start_section {
    background-position: 0 180px;
  }
  .start_section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 83px;
    padding-bottom: 83px;
  }
  .start_section__title {
    width: 300px;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}
.site_footer {
  background: #002529;
}

.site_footer__container {
  padding-top: 48px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site_footer__main_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site_footer__logo_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site_footer__logo_link {
  width: 160px;
}

.site_footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site_footer__item + .site_footer__item {
  margin-left: 40px;
}

.site_footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.site_footer__adress {
  max-width: 400px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-left: 125px;
}

.site_footer__socials_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.site_footer__socials_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.site_footer__socials_link + .site_footer__socials_link {
  margin-left: 16px;
}

.site_footer__license {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #ffffff;
  opacity: 0.6;
}

@media only screen and (max-width: 1010px) {
  .site_footer__container {
    display: block;
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .site_footer__main_box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 32px;
  }
  .site_footer__adress {
    text-align: right;
  }
  .site_footer__socials_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media only screen and (max-width: 550px) {
  .site_footer__main_box {
    display: block;
    margin-bottom: 40px;
  }
  .site_footer__logo_box {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .site_footer__adress {
    max-width: 100%;
    text-align: center;
    margin-top: 24px;
    margin-left: 0;
  }
  .site_footer__socials_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .site_footer__logo {
    margin-bottom: 24px;
  }
  .site_footer__socials_item {
    margin-bottom: 16px;
  }
}
.about_section {
  background: #014e56;
  background-image: url(../../../img/Group17.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.about_section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -9px;
  padding-bottom: 120px;
}

.about_section__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #ffffff;
}

.about_section__line {
  width: 50px;
  height: 4px;
  display: block;
  background: #f67e7e;
  margin-bottom: 40px;
}

.about_section__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  max-width: 730px;
}

@media only screen and (max-width: 1270px) {
  .about_section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: -17px;
    padding-bottom: 112px;
    padding-right: 40px;
    padding-left: 45px;
  }
  .about_section__title {
    line-height: 56px;
  }
  .about_section__line {
    display: none;
  }
  .about_section__subtitle {
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    max-width: 457px;
    padding-top: 24px;
  }
}
@media only screen and (max-width: 660px) {
  .about_section {
    background-position: 100% 160%;
  }
  .about_section__container {
    margin-top: -49px;
    padding-bottom: 124px;
  }
  .about_section__title {
    font-size: 40px;
    line-height: 40px;
  }
  .about_section__subtitle {
    max-width: 327px;
  }
}
.directors_section {
  background: #004047;
  background-repeat: no-repeat;
  background-image: url("../../../img/Group18.svg"), url("../../../img/Group19.svg");
  background-position: 0 0, 100% 100%;
}

.directors_section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 64px;
  color: #ffffff;
}

.directors_section__container {
  padding-top: 140px;
  padding-bottom: 140px;
}

.directors_section__card_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.directors_section__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 350px;
  padding-top: 32px;
  padding-bottom: 56px;
  padding-right: 24px;
  padding-left: 24px;
  background: #012f34;
  margin-bottom: 76px;
  position: relative;
}
.directors_section__card--end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 350px;
  padding-top: 32px;
  padding-bottom: 56px;
  padding-right: 24px;
  padding-left: 24px;
  background: #012f34;
  position: relative;
}

.directors_section__avatar_box {
  width: 96px;
  height: 96px;
  margin-bottom: 16px;
}

.directors_section__card_name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79c8c7;
}
.directors_section__card_name--end {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79c8c7;
  margin-bottom: 8px;
  margin-top: 3px;
}

.directors_section__card_job {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.directors_section__card_job--end {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  max-width: 240px;
}

.directors_section__socials {
  margin-top: 24px;
}

.directors_section__link + .directors_section__link {
  margin-left: 16px;
}

.directors_section__button {
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.directors_section__button:hover {
  width: 60px;
  height: 60px;
  -webkit-box-shadow: #ffffff 0 0 3px 0.5px;
          box-shadow: #ffffff 0 0 3px 0.5px;
}

@media screen and (max-width: 1400px) {
  .directors_section__container {
    padding-left: 97px;
    padding-right: 97px;
  }
}
@media screen and (max-width: 1270px) {
  .directors_section__card {
    width: 281px;
  }
  .directors_section__card--end {
    width: 281px;
  }
}
@media screen and (max-width: 1036px) {
  .start {
    margin-bottom: 76px;
  }
  .directors_section__title {
    font-size: 32px;
    line-height: 32px;
  }
}
@media screen and (max-width: 755px) {
  .directors_section__container {
    padding-right: 24px;
    padding-left: 24px;
  }
  .directors_section__card {
    margin-bottom: 52px;
  }
  .directors_section__card_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .directors_section__card--end {
    margin-bottom: 52px;
  }
}
.style_section {
  background: #012f34;
  background-image: url("../../../img/clients-bg1.svg");
  background-repeat: no-repeat;
}

.style_section__container {
  padding-top: 140px;
  padding-bottom: 140px;
}

.style_section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 64px;
}

.style_section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1095px) {
  .style_section__container {
    padding-top: 88px;
    padding-bottom: 88px;
  }
  .style_section__title {
    font-size: 32px;
    line-height: 32px;
  }
  .style_section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .style_section__fonts_box {
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 775px) {
  .style_section {
    background-position: -100px -100px;
  }
}
.contact_section {
  background: #014e56;
  background-image: url("../../../img/Group22.svg"), url("../../../img/Group23.svg");
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
}

.contact_section__container {
  padding-bottom: 120px;
}

.contact_section__main_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_section__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #ffffff;
  margin-bottom: 16px;
}

.contact_section__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 32px;
  color: #f67e7e;
}

.contact_section__item {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_section__item:nth-child(1)::before {
  content: "";
  background-image: url("../../../img/Group24.svg");
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  display: inline-block;
  margin-right: 23px;
}
.contact_section__item:nth-child(2)::before {
  content: "";
  background-image: url("../../../img/Group25.svg");
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  display: inline-block;
  margin-right: 23px;
}
.contact_section__item:nth-child(3)::before {
  content: "";
  background-image: url("../../../img/Group26.svg");
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  display: inline-block;
  margin-right: 23px;
}
.contact_section__item:nth-child(3) {
  margin: 0;
}

.contact_section__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.contact_section__form_box {
  max-width: 540px;
}

.contact_section__form {
  width: 540px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #ffffff;
  opacity: 0.6;
  padding-bottom: 16px;
  padding-left: 14px;
  border-bottom: 1px solid #fff;
  margin-bottom: 24px;
  outline: none;
}

.contact_section__massage {
  height: 84px;
  background: inherit;
  font-family: inherit;
  border: none;
  width: 540px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #ffffff;
  opacity: 0.6;
  border-bottom: 1px solid #fff;
  margin-bottom: 24px;
  padding-left: 14px;
  outline: none;
  resize: none;
}

.contact_section__button {
  padding: 9px 33px 11px 32px;
  border-radius: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: "livvic";
  background: #ffffff;
  border: none;
  border-radius: 24px;
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  cursor: pointer;
}
.contact_section__button:hover {
  background: #79c8c7;
}

@media screen and (max-width: 1350px) {
  .contact_section__container {
    padding-bottom: 112px;
  }
  .contact_section__main_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .contact_section__text_box {
    margin-bottom: 64px;
  }
  .contact_section__title {
    line-height: 56px;
    margin-bottom: 24px;
    text-align: center;
  }
  .contact_section__subtitle {
    text-align: center;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 775px) {
  .contact_section {
    background-image: none, url("../../../img/Group23.svg");
    background-position: 100% 115%;
  }
  .contact_section__container {
    padding-bottom: 88px;
  }
  .contact_section__title {
    font-size: 40px;
    line-height: 40px;
  }
  .contact_section__subtitle {
    margin-bottom: 40px;
  }
  .contact_section__item {
    margin-bottom: 24px;
  }
  .contact_section__item:nth-child(3) {
    margin: 0;
  }
  .contact_section__text {
    max-width: 232px;
  }
  .contact_section__form_box {
    max-width: 327px;
  }
  .contact_section__form {
    width: 327px;
  }
  .contact_section__massage {
    width: 327px;
  }
}/*# sourceMappingURL=main.css.map */