.about_section {
  background: #014e56;
  background-image: url(../../../img/Group17.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.about_section__container {
  display: flex;
  justify-content: space-between;
  margin-top: -9px;
  padding-bottom: 120px;
}

.about_section__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #ffffff;
}

.about_section__line {
  @include line;
  background: #f67e7e;
  margin-bottom: 40px;
}

.about_section__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  max-width: 730px;
}

@media only screen and (max-width: 1270px) {
  .about_section__container {
    @include center;
    margin-top: -17px;
    padding-bottom: 112px;
    padding-right: 40px;
    padding-left: 45px;
  }

  .about_section__title {
    line-height: 56px;
  }

  .about_section__line {
    display: none;
  }

  .about_section__subtitle {
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    max-width: 457px;
    padding-top: 24px;
  }
}

@media only screen and (max-width: 660px) {
  .about_section{
    background-position: 100% 160%;
  }

  .about_section__container{
    margin-top: -49px;
    padding-bottom: 124px;
  }

  .about_section__title {
    font-size: 40px;
    line-height: 40px;
  }

  .about_section__subtitle{
    max-width: 327px;
  }
}
